@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb:hover{
	background: #014fc5;
}

::-webkit-scrollbar-track {
	background: #363636;
}

::-webkit-scrollbar-thumb {
	background-color: #666666;
	border-radius: 10px;
	border: 0;
}

html, body {
	background: #141316;
	color: #dddddd;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

h2, h3 {
	margin: 0;
	font-weight: 400;
}

p {
	color: #aaa;
}

a:visited {
	color: unset;
}

main {
	text-align: center;
	user-select: none;
}

.slider {
	display: flex;
	position: relative;
    justify-content: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.slider a.item {
	cursor: pointer;
	position: relative;
	display: block;
	width: 1200px;
	height: 600px;
	overflow: hidden;
}

.slider a.item .info {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #000000cc;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: all 0.2s ease;
	z-index: 1;
}

.slider a.item .info h2 {
	position: absolute;
	top: 10px;
}

.slider a.item .info p {
	position: absolute;
	top: 40px;
}

.slider a.item .info:hover {
	opacity: 1;
}

.slider a.item .info img.play_vr {
	width: 130px;
	height: auto;
}

.slider a.item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.2s ease;
	/*border-radius: 10px;*/
}

.slider a.item:hover > img {
	transform: scale( 1.1 );
}

.slider .bullets {
	position: absolute;
    z-index: 2;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.slider .bullets a {
	cursor: pointer;
	display: inline-block;
    width: 10px;
    height: 10px;
    background: #191919bf;
	margin: 10px;
	border-radius: 50%;
	border: 1px solid #7e7e7e;
	transition: all 0.2s ease;
}

.slider .bullets a.selected {
	background: #fff;
}

.tags {
	display: flex;
	flex-flow: wrap;
    justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}

.tags a {
	cursor: pointer;
	display: block;	
	border-radius: 20px;
	padding-top: 5px;
	padding-bottom: 8px;
	padding-left: 12px;
	padding-right: 12px;
	margin: 5px;
	border: 1px solid #373737;
	background: #242424;
    color: #d9d9d9;
	transition: all 0.2s ease;
}

.tags.filtering a {
	opacity: .5;
}

.tags a:hover,
.tags a.selected {
	background: #343434;
	opacity: 1;
}

.grid {
	margin: 4px;
	display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-auto-rows: 330px;
    grid-auto-flow: row dense;
}

.grid a.item {
	cursor: pointer;
	position: relative;
	display: block;
	min-width: 330px;
	min-height: 330px;
	box-sizing: border-box;
	overflow: hidden;
	transition: all 0.2s ease;
	opacity: 0;
	visibility: hidden;
}

.grid a.item.visible {
	opacity: 1;
	visibility: visible;
}

.grid a.item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.2s ease;
}

.grid a.item .info {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000000cc;
	opacity: 0;
	transition: all 0.2s ease;
}

.grid a.item .info h2 {	
	margin: 10px;
}

.grid a.item .info p {
}

.grid a.item .info img.play_vr {
	position: absolute;
	top: 50%; 
	left: 50%;
	transform: translate( -50%, -50% );
	width: 90px;
	height: auto;
}

.grid a.item:hover > img {
	transform: scale( 1.1 );
}

.grid a.item .info:hover {
	opacity: 1;
	z-index: 10;
}

.wolvic-logo {
	max-width: 300px;
	position: absolute;
	left: calc( 50% - 150px );
	margin-top: -50px;
	opacity: .5;
	pointer-events: none;
}